*{
  color:gray;
}


.container {
  box-sizing: border-box;
  right: 0;
  left: 0;
}

nav {
  position: fixed;
  display: block;
  width:100%;
  right: 50px;
  left: 0;
  z-index: 1;
}

nav ul {
  position:absolute;
  right: 50px;
}
nav li {
  display: inline-block;
  padding: 15px;
  color: gray;
}

.photos {
  display: block;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  position: absolute;
  background-color: #eeeeee;
  left: 0;
}

.box {
  padding: 20px 10px 40px 10px;
  display: inline-block;
}

.peque {
  position:absolute;
  z-index:1;
  background-color: white;
  padding: 10px 10px;
  display: inline-block;
  margin-top: 200px;
  margin-left: 150px;
}

.underline {
    border-bottom: 1px solid #000000;
    padding-bottom: 3px;
}


.box img {
  display: inline-block;
  width: 360px;
  height: 230px;
}

article {
  float: left;
  text-align: center;
  margin-top: 480px;
  width: 50%;
  margin-left: 150px;
  background-color: #eeeeee;
}

article h4 {
  text-transform: uppercase;
}

article img {
  width: 400px;
  height: 350px;
}

article p {
  text-align : justify;
  padding: 10px 150px 10px 140px;
}

aside {
  float: right;
  text-align: center;
  margin-top: 480px;
  margin-right: 60px;
  width: 20%;
  right: 50px;
}

aside img {
  width: 130px;
  height: 190px;
}

aside p {
  font-size: 12px;
  width: 80%;
  text-align: left;
  padding-left: 50px;
}

aside span {
  display: block;
}

footer{
  position: absolute;
  display: block;
  margin-top: 1200px;
  width: 100%;
  z-index: 1;
  text-align: center;
  padding: 50px;
  background-color: #4D535E;
  font-size: 30px;
}

footer h5 {
  color: white;
}
